@import "compass/reset";

@import 'vars';
@import 'fonts';

$gric-color: gray;

$svg-color-1: #215A94;
$svg-color-2: #18986E;
$svg-color-3: #913100;
$svg-color-4: #915700;
$svg-color-5: #07325E;
$svg-color-6: #006141;
$svg-color-7: #FFA77A;
$svg-color-8: #5F8AB6;
$svg-color-9: #59B99A;

svg {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    
    .background {
        fill: #000;
    }

    circle#svgmarker {
        color: #278727;
        opacity: 0.5;
    }

    path.SVGplot {
        stroke: black;
        fill: none;
    }

    rect.SVGplot {
        stroke: black;
        fill: none;
    }

    polyline.SVGplot {
        fill: none;
    }

    .border {
        stroke: $primary-color;
        fill: #fff;
    }

    .vgrid {
        stroke: $gric-color;
        stroke-dasharray: 2, 6;
    }

    .hgrid {
        stroke: $gric-color;
        stroke-dasharray: 2, 6;
    }

    .pasted {
        stroke: black;
        stroke-dasharray: 1, 1;
    }

    .SVGplot {
        &.l0,
        &.l0fill,
        &.l0dot,
        &.l0fill_stripe,
        &.l0fill_gyr {
            stroke: $svg-color-1;
        }
        
        &.l0fill {
            fill: $svg-color-1;
        }
        
        &.l0dot {
            stroke-dasharray: 2, 4;
        }

        &.l0fill_stripe {
            fill: $svg-color-1;
        }

        &.l0fill_gyr {
            fill: $svg-color-1;
        }


        &.l1,
        &.l1fill,
        &.l1dot,
        &.l1fill_stripe,
        &.l1fill_gyr {
            stroke: $svg-color-2;
        }
        
        &.l1fill {
            fill: $svg-color-2;
        }
        
        &.l1dot {
            stroke-dasharray: 2, 4;
        }

        &.l1fill_stripe {
            fill: $svg-color-2;
        }

        &.l1fill_gyr {
            fill: $svg-color-2;
        }


        &.l2,
        &.l2fill,
        &.l2dot,
        &.l2fill_stripe,
        &.l2fill_gyr {
            stroke: $svg-color-3;
        }
        
        &.l2fill {
            fill: $svg-color-3;
        }
        
        &.l2dot {
            stroke-dasharray: 2, 4;
        }

        &.l2fill_stripe {
            fill: $svg-color-3;
        }

        &.l2fill_gyr {
            fill: $svg-color-3;
        }


        &.l3,
        &.l3fill,
        &.l3dot,
        &.l3fill_stripe,
        &.l3fill_gyr {
            stroke: $svg-color-4;
        }
        
        &.l3fill {
            fill: $svg-color-4;
        }
        
        &.l3dot {
            stroke-dasharray: 2, 4;
        }

        &.l3fill_stripe {
            fill: $svg-color-4;
        }

        &.l3fill_gyr {
            fill: $svg-color-4;
        }


        &.l4,
        &.l4fill,
        &.l4dot,
        &.l4fill_stripe,
        &.l4fill_gyr {
            stroke: $svg-color-5;
        }
        
        &.l4fill {
            fill: $svg-color-5;
        }
        
        &.l4dot {
            stroke-dasharray: 2, 4;
        }

        &.l4fill_stripe {
            fill: $svg-color-5;
        }

        &.l4fill_gyr {
            fill: $svg-color-5;
        }


        &.l5,
        &.l5fill,
        &.l5dot,
        &.l5fill_stripe,
        &.l5fill_gyr {
            stroke: $svg-color-6;
        }
        
        &.l5fill {
            fill: $svg-color-6;
        }
        
        &.l5dot {
            stroke-dasharray: 2, 4;
        }

        &.l5fill_stripe {
            fill: $svg-color-6;
        }

        &.l5fill_gyr {
            fill: $svg-color-6;
        }


        &.l6,
        &.l6fill,
        &.l6dot,
        &.l6fill_stripe,
        &.l6fill_gyr {
            stroke: $svg-color-7;
        }
        
        &.l6fill {
            fill: $svg-color-7;
        }
        
        &.l6dot {
            stroke-dasharray: 2, 4;
        }

        &.l6fill_stripe {
            fill: $svg-color-7;
        }

        &.l6fill_gyr {
            fill: $svg-color-7;
        }


        &.l7,
        &.l7fill,
        &.l7dot,
        &.l7fill_stripe,
        &.l7fill_gyr {
            stroke: $svg-color-8;
        }
        
        &.l7fill {
            fill: $svg-color-8;
        }
        
        &.l7dot {
            stroke-dasharray: 2, 4;
        }

        &.l7fill_stripe {
            fill: $svg-color-8;
        }

        &.l7fill_gyr {
            fill: $svg-color-8;
        }


        &.l8,
        &.l8fill,
        &.l8dot,
        &.l8fill_stripe,
        &.l8fill_gyr {
            stroke: $svg-color-9;
        }
        
        &.l8fill {
            fill: $svg-color-9;
        }
        
        &.l8dot {
            stroke-dasharray: 2, 4;
        }

        &.l8fill_stripe {
            fill: $svg-color-9;
        }

        &.l8fill_gyr {
            fill: $svg-color-9;
        }
    }

    text {
        stroke: none !important;
        fill: #fff;
        font-size: 11px;

        &.title {
            fill: #fff;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 10px;
        }

        &.legend {
            cursor: pointer;
        }

        &.SVGplot {
            &.l0,
            &.l0fill,
            &.l0dot,
            &.l0fill_stripe,
            &.l0fill_gyr {
                fill: $svg-color-1;
            }

            &.l1,
            &.l1fill,
            &.l1dot,
            &.l1fill_stripe,
            &.l1fill_gyr {
                fill: $svg-color-2;
            }

            &.l2,
            &.l2fill,
            &.l2dot,
            &.l2fill_stripe,
            &.l2fill_gyr {
                fill: $svg-color-3;
            }

            &.l3,
            &.l3fill,
            &.l3dot,
            &.l3fill_stripe,
            &.l3fill_gyr {
                fill: $svg-color-4;
            }

            &.l4,
            &.l4fill,
            &.l4dot,
            &.l4fill_stripe,
            &.l4fill_gyr {
                fill: $svg-color-5;
            }

            &.l5,
            &.l5fill,
            &.l5dot,
            &.l5fill_stripe,
            &.l5fill_gyr {
                fill: $svg-color-6;
            }

            &.l6,
            &.l6fill,
            &.l6dot,
            &.l6fill_stripe,
            &.l6fill_gyr {
                fill: $svg-color-7;
            }

            &.l7,
            &.l7fill,
            &.l7dot,
            &.l7fill_stripe,
            &.l7fill_gyr {
                fill: $svg-color-8;
            }

            &.l8,
            &.l8fill,
            &.l8dot,
            &.l8fill_stripe,
            &.l8fill_gyr {
                fill: $svg-color-9;
            }
        }
    }
}
.background { fill:#FFFFE7; }

text { font-family: Roboto; font-weight:300; font-size:12px; fill:#fff;}
text.title {font-family: Roboto; font-weight:300; font-size:12px; fill:#fff;}
text.legend{ cursor:pointer; }
text.copy  { text-decoration:underline; stroke:none; fill:blue; cursor:pointer;}
text.paste { text-decoration:underline; stroke:none; fill:blue; cursor:pointer;}

path.SVGplot     { stroke:black; fill:none; }
polyline.SVGplot { stroke:black; fill:none; }
polyline { stroke:black; fill:none; }
.border { stroke:black; fill:url(#gr_bg);}
.vgrid { stroke:gray; stroke-dasharray:2,6;}
.hgrid { stroke:gray; stroke-dasharray:2,6;}
.pasted { stroke:black; stroke-dasharray:1,1;}

.SVGplot.l0 { stroke:#fc3e39; }  text.SVGplot.l0 { stroke:none; fill:#fc3e39; } 
.SVGplot.l1 { stroke:#53d769; }  text.SVGplot.l1 { stroke:none; fill:#53d769; } 
.SVGplot.l2 { stroke:#157efb; }  text.SVGplot.l2 { stroke:none; fill:#157efb; }
.SVGplot.l3 { stroke:#c34ceb; }  text.SVGplot.l3 { stroke:none; fill:#c34ceb; }
.SVGplot.l4 { stroke:brown;   }  text.SVGplot.l4 { stroke:none; fill:brown;   }
.SVGplot.l5 { stroke:black;   }  text.SVGplot.l5 { stroke:none; fill:black;   }
.SVGplot.l6 { stroke:olive;   }  text.SVGplot.l6 { stroke:none; fill:olive;   }
.SVGplot.l7 { stroke:gray;    }  text.SVGplot.l7 { stroke:none; fill:gray;    }
.SVGplot.l8 { stroke:#f7ab28; }  text.SVGplot.l8 { stroke:none; fill:#f7ab28; }

.SVGplot.l0fill{ stroke:#fc3e39; fill:url(#gr_0); }  text.SVGplot.l0fill{ stroke:none; fill:#fc3e39; }
.SVGplot.l1fill{ stroke:#0088cc; fill:url(#gr_1); }  text.SVGplot.l1fill{ stroke:none; fill:#53d769; }
.SVGplot.l2fill{ stroke:#157efb; fill:url(#gr_2); }  text.SVGplot.l2fill{ stroke:none; fill:#157efb; }
.SVGplot.l3fill{ stroke:#c34ceb; fill:url(#gr_3); }  text.SVGplot.l3fill{ stroke:none; fill:#c34ceb; }
.SVGplot.l4fill{ stroke:#ff0; fill:url(#gr_4); }  text.SVGplot.l4fill{ stroke:none; fill:#ff0; }
.SVGplot.l5fill{ stroke:#0ff; fill:url(#gr_5); }  text.SVGplot.l5fill{ stroke:none; fill:#0ff; }
.SVGplot.l6fill{ stroke:#000; fill:url(#gr_6); }  text.SVGplot.l6fill{ stroke:none; fill:#000; }
